{{ define "title" }}{{ .Title }}{{ end }}
{{- define "content" -}} {{ $path := "js/script.js" }} {{ $js := resources.Get
$path | resources.ExecuteAsTemplate $path . }}
<script
  async
  language="javascript"
  type="text/javascript"
  src="{{ $js.RelPermalink }}"></script>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap"
  rel="stylesheet" />

<link rel="stylesheet" href="/styles.css" />
<div id="resume-pages-container">
  <div class="resume-page">
    <div class="resume-content">
      <div class="resume-section-photo">
        <div class="resume-photo">
          <img src="/PP.png" />
        </div>
        <div class="one">
          <span id="cv-name">{{ $.Params.name }}</span>
          <span id="cv-title">{{ $.Params.pro_title }}</span>
        </div>
        <div class="two">
          <div class="resume-flex-container-cols">
            {{ range $.Params.personal_data }} {{ if .link }}
            <div><a href="{{ .link }}">{{ .value }}</a></div>
            {{ else }}
            <div>{{ .value }}</div>
            {{ end }} {{ end }}
          </div>
        </div>
      </div>

      {{ range $.Params.sections }} {{ $cols := .cols }}
      <div class="resume-section">
        <div class="resume-section-title">{{.name}}</div>

        {{ range .content }}
        <div class="resume-section-content">
          {{ if .title }}<span class="resume-text"
            ><span class="resume-title">{{ .title }}</span>{{ if .subtitle }}<span
              class="resume-subtitle"
              >{{ .subtitle }}</span
            >{{ end }} </span
          >{{ end }}{{ if .items }}{{ range .items }}<span
            class="resume-text-three-col"
            >{{.}}</span
          >{{end}}{{end}} {{ if .date }}<span class="resume-date"
            ><span class="equal-width">{{ .date | safeHTML }}</span></span
          >{{ end }}{{ if .description }}<span class="resume-description"
            >{{ .description | markdownify}}</span
          >{{ end }}
        </div>
        {{ end }}
      </div>

      {{ end }}
    </div>
  </div>
</div>
{{- end -}}
